* {
  /* Default styles */
  font-family: 'Roboto', sans-serif;
  /*color: white;
  background: #111; */
}

#wrap {
  width: 400px;
  padding: 5px;
  margin: 0 auto;
  display: block;
  position: relative;
}

.main-window {
  height: 300px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.display-message {
  display: block;
  position: relative;
  padding: 5px;
}

.choices {
  position: relative;
  display: block;
  margin-top: 10px;
}

#overlay{
  height: 300px;
  width: 400px;
  background: rgba(255,255,255,0.6);
  position: absolute;
  top: 52.5px;
  padding: 5px;
  border-radius: 2px;
  overflow-y: auto;
  overflow-x: hidden;
}

.option-item{
  top: 10px;
  position: relative;
  display: block;
  padding-top: 5px;
  margin: 0 auto;
}

#options_overlay{
  text-align: center;
}

.hotbar{
  position: relative;
  display: block;
  margin-top: 3px;
  text-align: left;
  box-shadow: 0px -2px 0px rgba(0,0,0,0.6);
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  background:
}

input {
  padding: 5px;
  height: 30px;
  margin-top: 15px;
  border: none;
  width: 400px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2)
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

button{
  height: 30px;
  border-radius: 4px;
  background: none;
  border: none;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: transform 0.1s;
  margin: 5px;
}
button:hover{
  transform: scale(1.1);
}
button:active{
  transform: scale(0.95);
}

.title {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
  display: block;
}

::-webkit-scrollbar {
  background-color: #d3d3d3;
  width: 8px;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 3px;
}

a:link {
  color: #4f4f4f;
  text-decoration: none;
}

a:visited {
  color: #4f4f4f;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.extra-link{
  display: inline-block;
}

#inventory_toggle{
  float: left;
}
#toggle_map{
  margin-left: 5px;
}
#toggle_options{
  float: right;
}

#insert-missing-quests{
  height: 400px;
  width: 100%;
  overflow: auto;
}

#devtools_banner{
  display: block;
  padding-top: 10px;
  box-shadow: 0px -4px 0px rgba(0,0,0,0.7);
  height: 30px;
}

#disable_button{
  position: relative;
  float: right;
}
